application:
  actions: actions
  hooks:
    pre-app-build: npm run build
  runtimeManifest:
    packages:
      forms:
        license: Apache-2.0
        inputs:
          ORG: aemsites
          SITE: vitamix
          SHEET: "/drafts/maxed/test/foo.json"
          LOG_LEVEL: info
          AIO_S2S_API_KEY: $AIO_S2S_API_KEY
          AIO_S2S_TOKEN: $AIO_S2S_TOKEN
          AIO_ORG_ID: $AIO_ORG_ID
          AIO_EVENTS_PROVIDER_ID: $AIO_EVENTS_PROVIDER_ID
          AIO_JOURNAL_URL: $AIO_JOURNAL_URL
        actions:
          submit:
            function: dist/actions/submit/index.js
            runtime: nodejs:22
            web: 'yes'
            annotations:
              require-adobe-auth: false
              final: true
          pump:
            function: dist/actions/pump/index.js
            runtime: nodejs:22
            annotations:
              final: true
          processor:
            function: dist/actions/processor/index.js
            runtime: nodejs:22
            web: 'yes'
            annotations:
              require-adobe-auth: false
              final: true
        triggers:
          pumpTrigger:
            feed: "/whisk.system/alarms/interval"
            inputs:
              minutes: 10
        rules:
          pumpRule:
            trigger: pumpTrigger
            action: pump

