application:
  actions: actions
  hooks:
    pre-app-build: npm run build
  runtimeManifest:
    packages:
      forms:
        license: Apache-2.0
        inputs:
          ORG: aemsites
          SITE: vitamix
          LOG_LEVEL: info
          AIO_S2S_API_KEY: $AIO_S2S_API_KEY
          AIO_S2S_CLIENT_SECRET: $AIO_S2S_CLIENT_SECRET
          AIO_S2S_SCOPES: $AIO_S2S_SCOPES
          AIO_ORG_ID: $AIO_ORG_ID
          AIO_EVENTS_PROVIDER_ID: $AIO_EVENTS_PROVIDER_ID
          EMAIL_TOKEN: $EMAIL_TOKEN
          EMAIL_RECIPIENT: $EMAIL_RECIPIENT
        actions:
          submit:
            function: dist/actions/submit/index.js
            runtime: nodejs:22
            web: 'yes'
            annotations:
              require-adobe-auth: false
              final: true
          processor:
            function: dist/actions/processor/index.js
            runtime: nodejs:22
            limits:
              concurrency: 1
            annotations:
              final: true

